#navbar {
  text-align: right;
  border-style: solid;
  margin-top: 5px;
}
#titulo {
  text-align: center;
  margin-bottom: 30px;
}
#textoSuperiorDerecho {
  margin-right: 30px;
}
#formularioEmailButton{
    text-align: center;
    margin-top: 70px;
    caret-color: black;
    background-color: white;
}
input[type="text"] {
  height: 50px;
  width: 500px;
  border-radius:10px;
}
button[type="button"] {
  height: 55px;
  margin-bottom: 9px;
}
#textarea {
    margin-top: 25px;
    text-align: center;
    text-justify: left;
}
#piePagina{
    margin-top: 30px;
    text-align: center;         
}